body {
    font-family: "American Typewriter", sans-serif;
    font-size: calc(6px + 2vmin);
    font-style: bold;
    font-weight: bold;
    background-color: #436b95;
    color: #faebd7;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input, button, select {
    font-family: "American Typewriter", sans-serif;
    font-style: bold;
    font-weight: bold;
    text-align: center;
    color:#253529;
    background-color: #ffb7c5
  }
  
  table {
    padding: 50px;
  }
  
  td, th {
    background-color: #ffb7c5;
    border: 1px inset #ffb7c5;
    color: #253529;
    font-style: bold;
    font-weight: bold;
    padding: 5px;
    text-align: center;
  }
  
  tr:nth-child(even){background-color: #ffb7c5;}
  tr th {
    background-color: #ffb7c5;
    color: #253529;
    font-style: bold;
    font-weight: bold;
    padding-bottom: 5x;
    padding-top: 5px;
    text-align: center;
  }
  
  .App {
    display: grid;
    grid-template-columns: auto, auto, auto;
    grid-template-rows: auto, auto, auto;
    gap: 10px;
  }

  .App-body {
    grid-column: 2;
    grid-row: 2;
    padding: 5px;
  }

  .App-Nav {
    border-color: #436b95;
    background-color: #436b95;
    border: 1px inset;
    margin: 10px;
    padding: 15px;
    color: #FFFFFF
  }

  nav {
    text-align: center;
  }
  
  .App-header {
    color: #faebd7;
    grid-column: 2;
    grid-row: 1;
    font-size: calc(8px + 2vmin);
    text-align: center;
  }
  
  .App-footer {
    align-items: center;
    color: #faebd7;
    display: flex;
    font-size: 10px;
    grid-column: 2;
    grid-row: 3;
    height: 50px;
    justify-content: center;
  }
  
  